<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for aState in states | sort(attribute='name') %}
            <LI>{{ aState.id }}: <B>{{ aState.name }}</B>
                <UL>
                    {% for aCity in cities | sort(attribute='name') %}
                    {% if aCity.aState.id == aState.id %}
                    <LI>{{ aCity.id }}: <B>{{ aCity.name }}</B></LI>
                    {% endif %}
                    {% endfor %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>
